<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.0.0" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <profiles>
        <!-- BAMOE v9.2.1 via Container Engine -->
        <profile>
            <id>ibm-bamoe-v921-maven-repository</id>
            <repositories>
                <repository>
                    <id>ibm-bamoe-v921-maven-repository</id>
                    <url>http://localhost:9021</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>ibm-bamoe-v921-maven-repository</id>
                    <url>http://localhost:9021</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <!-- BAMOE 9.2.1 via Offline -->
        <profile>
            <id>ibm-bamoe-v921-offline-maven-repository</id>
            <repositories>
                <repository>
                    <id>ibm-bamoe-v921-offline-maven-repository</id>
                    <url>file:///${user.home}/.m2/bamoe-9.2.1.GA-maven-repository</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>ibm-bamoe-v921-offline-maven-repository</id>
                    <url>file:///${user.home}/.m2/bamoe-9.2.1.GA-maven-repository</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>ibm-bamoe-v921-maven-repository</activeProfile>
        <activeProfile>ibm-bamoe-v921-offline-maven-repository</activeProfile>
    </activeProfiles>
</settings>
